@charset "UTF-8";
html {
	height: 100%;
}

body {
	min-height: 100%;
	height: 100%;
}
#selectDate {
	width:100%;
	border: solid 1px #bdbdbd;
	color: #4F4F4F; 
	height: 37px;
	padding-left: 12px;
}
#listContainer {
	height: 88%;
	overflow: scroll;
}