<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0"
>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.tb.servlets.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Inscription</servlet-name>
		<servlet-class>com.tb.servlets.Inscription</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/inscription</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>com.tb.servlets.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Promotion</servlet-name>
		<servlet-class>com.tb.servlets.Promotion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Promotion</servlet-name>
		<url-pattern>/promotions</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Reservation</servlet-name>
		<servlet-class>com.tb.servlets.Reservation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Reservation</servlet-name>
		<url-pattern>/reservation</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MyReservations</servlet-name>
		<servlet-class>com.tb.servlets.MyReservations</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyReservations</servlet-name>
		<url-pattern>/myReservations</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>History</servlet-name>
		<servlet-class>com.tb.servlets.History</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>History</servlet-name>
		<url-pattern>/history</url-pattern>
	</servlet-mapping>
	
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
</web-app>